<h1>Welcome to CodeClan's Animal Shelter Website</h1>

<section class="intro">
<p>CodeClan Animal Shelter provide care and treatment to animals needing protection, attempt to find homes for homeless animals and reunite lost pets with their families.  When necessary, animal shelters provide a humane death for homeless or unadoptable animals.  Today’s shelters range from single rooms with multiple cages to state-of-the-art facilities with amenities that might rival some hotels.  The “luxury” features, like piped-in music and waterfalls serve to reduce the stress to the animals in the facilities and make the shelter an inviting and positively viewed destination rather than a depressing one to be avoided—thus increasing the chances that the animals at the shelter will find a new home.</p>

<p>There is a lot to think about before making the decision to introduce a dog or a cat into your life and home.  A new pet is yours for their lifetime and you will have responsibility for them, their happiness and their behaviour from the moment you bring them home.</p>

<p>
Before going ahead, consider the following:

<ul>
  <li>What effect will the new pet have on our lives?</li>
  <li>What changes will we need to make to our current lifestyle in order to welcome a pet to our family?</li>
  <li>A new pet needs company – do we have the time to spend with them and look after them?</li>
  <li>Can we afford the food, vet fees and/or pet insurance?</li>
  <li>Who will look after the pet while we are on holiday?</li>
  <li>If we decide to rehome a dog, what size or type of dog would suit our circumstances best?</li>
  <li>Dogs need to be walked at least twice a day, whatever the weather. Are we happy to do this?</li>
  <li>Do we have the time and the patience to train our new pet and help them settle into their new home?</li>
</ul>
</p>

<p>
At <i>CodeClan Animal Shelter</i> we are open for rehoming from 10.00am until 3.30pm every day except Sundays.  No appointment is necessary.  You must be 18 years old or over to re-home a </i>CodeClan Animal Shelter</i> dog or cat and our rehoming staff will always do their best to match you up with the right pet for your circumstances.   Some pets are available for immediate rehoming but some may have to be vet checked before they are ready to go home with you.  Please also know that due to the unknown history of some of our residents, ages are often approximate.
</p>
</section>