<!DOCTYPE html>
<html>
<link href='../styles/layout.css' type='text/css' rel='stylesheet'>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<ul>
    <li><a href="/">Home</a></li>
    <li>About
      <ul>
        <li><a>Our Team</a></li>
        <li><a>History</a></li>
        <li><a>Branches</a></li>
        <li><a>Newsletter</a></li>
      </ul>
    </li>

    <li>Animals
        <ul>
          <li>Cats</li>
          <li>Dogs</li>
          <li>Other</li>
        </ul>
    </li>

    <li>Contact
      <ul>
        <li>Edinburgh</li>
        <li>Glasgow</li>
        <li>Paisley</li>
      </ul>
    </li>

    <li>Donate</li>
</ul>



  </body>
</html>
