<!DOCTYPE html>
<html>
<link href='../styles/layout.css' type='text/css' rel='stylesheet'>
  <head>
    <meta charset="utf-8">
    <title>CodeClan Animal Shelter</title>
  </head>
  <body>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a>
          <ul>
            <li><a href="/about/ourteam">Our Team</a></li>
            <li><a href="/about/history">History</a></li>
            <li><a href="/about/branches">Branches</a></li>
            <li><a href="/about/newsletter">Newsletter</a></li>
          </ul>
        </li>

        <li><a href="/animals">Animals</a>
            <ul>
              <li><a href="/animals/cats">Cats</a></li>
              <li><a href="/animals/dogs">Dogs</a></li>
              <li><a href="/animals/other">Other</a></li>
            </ul>
        </li>

        <li><a href="/contact/">Contact</a>
          <ul>
            <li><a href="/contact/edinburgh">Edinburgh</a></li>
            <li><a href="/contact/glasgow">Glasgow</a></li>
            <li><a href="/contact/paisley">Paisley</a></li>
          </ul>
        </li>

        <li><a href="/donate/">Donate</a></li>
      </ul>
  </nav>

<center><img src="../images/logo.jpg.png"></center>

  <section id="content">
    <%= yield %>
  </section>


  </body>
</html>
