body {
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  font-family: Courier, Arial;
  color: white;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none; 
}

nav ul li {
float: left;
width: 252px;
height: 40px;
background-color: black;
opacity: 0.8;
line-height: 40px;
text-align: center;
font-size: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

nav ul li a:hover {
  background-color: green;
}

nav ul li ul li {
  display: none;
}

nav ul li:hover ul li {
  display: block
}

/*div {
border-style: solid;
border-width: 1px;
border-color: black;
}*/

#content {
  border-width: 3px;
  border-style: solid;
  border-color: black;
  color: #1b2727;
  background-color: white;
  opacity: 0.6;
}

h1 {
  border-style: dotted;
  border-width: 2px;
  text-align: center;
  margin: 2px;
}

.intro {
  width: 80%;
  margin: 0 auto;
}

